body {
    font-family: 'Montserrat', sans-serif;
}

.flex-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #14213D;
    border-radius: 15px 15px 0 0;
    margin: 20px;
    padding: 20px;
    background-color: #14213D;
    color: #FFFFFF;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    color: #FFFFFF;
    background-color: #14213D;
    line-height: 1.6;
    border-radius: 0 0 15px 15px;
}

.input-1 {
    margin: 5px;
    padding: 5px;
}

.input-2 {
    margin: 5px;
    padding: 5px;
}

.input-3 {
    margin: 5px;
    padding: 5px;
    border: 0px;
}

.submit-button {
    padding: 10px;
    background: #FCA311;
    border: 0px;
    border-radius: 15px;
}