body {
    font-family: 'Montserrat', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #14213D;
}

.flex-container > div  {
    background-color: #E5E5E5;
    width: 200px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}