body {
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
}

.flex-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #14213D;
    border-radius: 15px 15px 0 0;
    margin: 10px;
    padding: 10px;
    background-color: #14213D;
    color: #FFFFFF;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #14213D;
    line-height: 1.6;
}

.input-1 {
    margin: 5px;
    padding: 5px;
}

.input-2 {
    margin: 5px;
    padding: 5px;
}

.input-3 {
    margin: 5px;
    padding: 5px;
}

.form-group-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #14213D;
    margin: 10px;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

.submit-button {
    color:#FFFFFF;
    transition-duration: 0.4s;
    background: none;
    border: 1px solid #FCA311;
    border-radius: 15px;
    padding: 10px;
}

.submit-button:hover {
    color:#FFFFFF;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
    background: #FCA311;
    border: 1px solid #FCA311;
    border-radius: 15px;
    padding: 10px;
}