html {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFC;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li {
    list-style: none;
}

.h1-header {
    letter-spacing: 3px;
    border-bottom: 1px solid #e1f1ff;
    margin: 10px 10px;
    padding: 10px 10px;
}

.pricing-box, .box-1, .box-2, .box-3, .pricing-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFADAD;
}

.pricing-box {
    border: 1px solid #CAFFBF;
    border-radius: 5px;
    width: 90%;
}

.box-1, .box-2, .box-3 {
    flex-direction: column;
    border: 1px solid #FFFFFC;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px 10px;
}

.box-2-feature {
    text-align: inherit;
    color: #FFFFFC;
    margin: 10px 5px;
    padding: 10px 10px;
}

.box-2-item {
    color: #FFFFFC;
}

.pricing-button {
    display: inline-block;
    color: #FFFFFC;
    transition-duration: 0.4s;
    border: 1px solid #FFFFFC;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px 30px;
    text-decoration: none;
}

.pricing-button:hover {
    display: inline-block;
    letter-spacing: 3px;
    color: #FDFFB6;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #FFFFFC;
    border-radius: 5px;
    padding: 15px 30px;
}